---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="!w-screen min-h-screen !p-0">
		<Header />
		<main class="w-[80%] min-h-screen mx-auto text-center md:w-full">
			<div class="py-4 w-full h-full flex flex-row flex-wrap justify-center gap-4">
				{
					posts.reverse().map((post) => (
						<div class=" border-pastel-black border-[1px] rounded-[5px] bg-whitesmoke">
							<div class="w-full p-6">
								<div class="w-full h-[22rem] !bg-center !bg-cover !bg-no-repeat border-[#959797] border-[1px]" style={`background: url(${post.data.heroImage});`}></div>
							</div>
							<div class="w-[20rem] pb-4 polaroid-card">
								<a href={(post.data.description != 'false') ? `memories/${post.slug}` : '#'} class="block px-4 w-full text-center text-2xl">
									{post.data.title}
								</a>
								<p class="px-4 w-full text-pastel-black opacity-80 text-right">
									<FormattedDate date={post.data.pubDate} />
								</p>
							</div>
						</div>
					))
				}
			</div>
		</main>
		<Footer />
	</body>
</html>
<style>
	body {
		background: #00b4db; /* fallback for old browsers */
		background: -webkit-linear-gradient(45deg, #0083b0, #00b4db); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(45deg, #0083b0, #00b4db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
</style>